.information {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
}

.photo {
  width: 200px;
  margin-right: 70px;
}

.name {
  margin-bottom: 30px;
}

.list {
  padding: 0 20px;
  margin: 0px;

  list-style-type: none;
}

.item {
  margin-bottom: 10px;
}
